.StartrsIn{
    color: gray;
}

.timerstartstart{
    font-size: 50px;
    color: indianred;
    font-weight: 800;
    text-align: center;
}

.SquarePosTimer{
    width: fit-content;
    margin: 40vh auto;
}

.GameStartedType{
    width: 460px;
    margin: 40px auto;
}

.Squarestarttimer{
    display: flex;
}

.SquareTimer1{
    width: 50%;
    margin: auto;
}

.SquareTimer2{
    width: 50%;
    margin: auto;
}